@{
    RegistroHoras.DATA.Usuario usr = new RegistroHoras.DATA.classes.business.UsuarioBO().Get(int.Parse(User.Identity.Name));
    List<RegistroHoras.DATA.RegistroHoras> horasHoje = new List<RegistroHoras.DATA.RegistroHoras>();
    Double totalHorasAtuais = 0;
    if(usr!= null)
    {
        horasHoje = new RegistroHoras.DATA.classes.business.RegistroHorasBO().RegistroHorasColaboradorData(usr.COLABORADOR,DateTime.Now.Date);
        totalHorasAtuais = new RegistroHoras.DATA.classes.business.RegistroHorasBO().TotalHorasMes(usr.COLABORADOR, DateTime.Now.Month,DateTime.Now.Year).TotalHours;
    }

    string percentual = new RegistroHoras.DATA.classes.business.RegistroHorasBO().StringPercentualHorasMes(usr.COLABORADOR, DateTime.Now.Month, DateTime.Now.Year);
    
}

<div class="container">
    <h3>Olá @usr.FK_Colaborador.nome !</h3>

    <div class="row">

        <div class="col-lg-4">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Horas no Mês</h3>
                </div>

                <div class="panel-body">
                    @{ string regimeMensal = new RegistroHoras.DATA.classes.business.ColaboradorBO().RegimeDoMes(usr.COLABORADOR, DateTime.Now.Month, DateTime.Now.Year).ToString();}
                    <label>Jornada Mensal:</label> @regimeMensal Horas <br />
                    <label>Horas Registradas:</label> @Math.Round(totalHorasAtuais, 2)



                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width:@percentual">
                            <span>@percentual</span>
                        </div>

                    </div>

                </div>


            </div>


        </div>



        <div class="col-lg-4">
            
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Registros de Hoje</h3>
                </div>

                <div class="panel-body">
                    <table style="width:100%">
                        @for (int i = 0; i < horasHoje.Count; i++)
                        {
                            string saida = horasHoje[i].saida.TimeOfDay == new TimeSpan(0,0,0) ? "---" : horasHoje[i].saida.TimeOfDay.ToString() ;
                            <tr>
                                <td><label>@horasHoje[i].FK_JornadaColaborador.FK_Turno.descricao</label></td>
                                <td><span>entrada:&nbsp;</span>@horasHoje[i].entrada.TimeOfDay</td>
                                <td> <span>saída:&nbsp;</span>@saida</td>
                            </tr>



                        }
                    </table>
                </div>   

            </div>


        </div>



     
   
</div>

