<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Controle de Horas</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/js.js")"></script>
   
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    @*<script src="https://raw.githubusercontent.com/igorescobar/jQuery-Mask-Plugin/master/src/jquery.mask.js" type="text/javascript" language="javascript"></script>*@
   
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.ico">
</head>
<body>
 
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Controle Horas</a>
            </div>
            @if (User.Identity.IsAuthenticated) { 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("Registrar Hora", "Index", "RegistroHoras")</li>
                     
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Relatórios <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Mês Atual", "MesAtual", "RegistroHoras", new { registroColaborador = int.Parse(User.Identity.Name) }, "")</li>
                            <li>@Html.ActionLink("Mês Atual Detalhado", "MesAtualDetalhes", "RegistroHoras", new { registroColaborador = int.Parse(User.Identity.Name) }, "")</li>
                            <li>@Html.ActionLink("Registros por Mês", "ListarHorasRegistradasColaborador", "RegistroHoras", new { registroColaborador = int.Parse(User.Identity.Name) }, "")</li>
                            <li>@Html.ActionLink("Banco de Horas", "ConsultarBancoHoras", "RegistroHoras", new { registroColaborador = int.Parse(User.Identity.Name) }, "")</li>
                            
                                @*<li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>*@
                   @if (User.Identity != null)
                   {
                    <li> @Html.ActionLink("Sair", "Logout", "Login", "", new { @onclick = "return Confirm('Clique em OK para sair da aplicação.')" })</li>
                    
                   }
                        
                   
                    
                </ul>

            </div>
            }
        </div>
        
    </div>
    

    @RenderSection("scripts",false)

    <div class="container body-content">
        @{Html.RenderPartial("_Mensagem");}
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;.NET Team JP @DateTime.Now.Year </p>
        </footer>
    </div>


</body>
</html>