@model List<RegistroHoras.DATA.RegistroHoras>

@{
    double saldoHorasMes, saldoFinal=0;
    TimeSpan horasUteis;
    TimeSpan trabalhadas;
    int colaborador = Model[0].FK_JornadaColaborador.colaborador;
    int ano         = Model[0].entrada.Year;
    int mesesCount = 0;
    
}

<table class="table table-condensed">
    @foreach (int mes in Model.Select(r => r.entrada.Month).Distinct())
    {
       horasUteis = new RegistroHoras.DATA.classes.business.ColaboradorBO().HorasUteisMes(colaborador,mes,ano);
       trabalhadas = new RegistroHoras.DATA.classes.business.RegistroHorasBO().TotalHorasMes(colaborador,mes,ano);
       saldoHorasMes = new RegistroHoras.DATA.classes.business.RegistroHorasBO().SaldoHorasMes(colaborador, mes,ano);

       saldoFinal += saldoHorasMes;

         
               mesesCount++;
           
             <tr class="active">
              <th>@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(mes).ToUpper()</th>
              <th></th>
              <th></th>
             </tr>
             <tr>
                 <th>Horas Mês</th>
                 <th>Horas Trabalhadas</th>
                 <th>Saldo</th>
             </tr>
             <tr>
         
                 <td>@horasUteis.TotalHours hs</td>
                 <td>@Math.Round(trabalhadas.TotalHours,2) hs</td>
                 <td>@Math.Round(saldoHorasMes,2) hs</td>
             </tr>

      
           if (mesesCount > 0)
           {
            <tr class="warning">
                <th colspan="3"><span>Horas acumuladas:</span>&nbsp; @Math.Round(saldoFinal, 2)</th>
            </tr>
           }
           
          


    }

    
        

 </table>