@model List<RegistroHoras.DATA.RegistroHoras>
@{
    TimeSpan horasMes = new TimeSpan();
    Double percent = 0;
    string percentual = "";
    if (Model.Count > 0)
    {
        RegistroHoras.DATA.RegistroHoras registro = Model[0];
        
         horasMes = new RegistroHoras.DATA.classes.business.RegistroHorasBO().TotalHorasMes(int.Parse(User.Identity.Name), registro.entrada.Month, registro.entrada.Year);
         percent = Math.Round((Math.Round(horasMes.TotalHours, 2) / new RegistroHoras.DATA.classes.business.ColaboradorBO().RegimeDoMes(registro.FK_JornadaColaborador.colaborador,registro.entrada.Month,registro.entrada.Year)) * 100, 2);
         percentual = percent.ToString().Replace(',', '.') + "%";
        
    }
    
}

@using GridMvc.Html





@Html.Grid(Model.OrderBy(m=>m.entrada)).Columns(c =>
{
    c.Add(d => d.FK_JornadaColaborador.FK_Turno.descricao).Titled("Turno");
    c.Add(d => d.entrada).Titled("Entrada");
    c.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Saida(d.saida)).Titled("Saída");
    c.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @saldoHoras(d)).Titled("Hora/Turno");
    c.Add(d => d.Observacao).Titled("Obs");
    c.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Html.ActionLink("excluir", "ExcluirRegistroHora", new { registroHora = d.registro, returnView = ViewContext.Controller.ValueProvider.GetValue("action").RawValue }, new { @onclick = "return Confirm('Deseja realmente excluir este registro?');" }));
}).EmptyText("Sem registro de horas para este mês.").WithPaging(42)

@if (horasMes > new TimeSpan(0))
{
    <p>Total de Horas: @Math.Round(horasMes.TotalHours,2)</p>
}


<div class="progress progress-striped active">
    <div class="progress-bar" style="width:@percentual">
        <span>@percentual</span>
    </div>
   
</div>

@helper saldoHoras(RegistroHoras.DATA.RegistroHoras registroHoras)
{
        TimeSpan res = registroHoras.saida.TimeOfDay - registroHoras.entrada.TimeOfDay;

      if(res > new TimeSpan(0,0,0))
      {
        <span class="text-info"><strong>@res</strong></span>
      }
}

@helper Saida(DateTime saida)
{
    if(saida > DateTime.Parse("1900-01-01"))
    {
        <span>@saida</span>    
        
    }
    
}

